<h1>Menu Items</h1>

<p>
  <%= link_to "New Menu Item", new_staff_menu_item_path %> |
  <%= link_to "Categories", staff_categories_path %> |
  <%= link_to "Orders", staff_orders_path %> |
  <%= link_to "Tables & QR Codes", staff_tables_path %>
</p>

<table border="1" cellspacing="0" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <% @menu_items.each do |m| %>
    <tr>
      <td><%= link_to m.name, staff_menu_item_path(m) %></td>
      <td><%= m.category&.name %></td>
      <td><%= m.price %></td>
      <td>
        <%= link_to "Edit", edit_staff_menu_item_path(m) %>
        <%= button_to "Delete", staff_menu_item_path(m), method: :delete, data: { turbo_confirm: "Delete menu item?" } %>
      </td>
    </tr>
  <% end %>
</table>
