<h1>Menu for Table <%= @table.number %></h1>

<%= form_with(model: [@table, @order], local: true) do |f| %>
  <% @menu_items.each do |item| %>
    <div>
      <%= check_box_tag "order[order_items_attributes][][menu_item_id]", item.id %>
      <%= item.name %> ($<%= item.price %>)
      <%= number_field_tag "order[order_items_attributes][][quantity]", 1, min: 1 %>
    </div>
  <% end %>
  <%= f.submit "Submit Order" %>
<% end %>
